* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.section {
    height: 500px;
    background-color: white;
    border: solid black 1px;
}

.hero {
    background-color: #233237;
    height: 100vh;
}

.footer {
    height: 500px;
    background-color: black;
    color: white;
    padding: 77px;
    text-align: center;
}

.navbar {
    background-color: #18121e;
}

.nav-link {
    color: #ffff !important;
    font-size: 30px;
}

.nav-link:hover {
    transform: scale(1.15);
}

.social-svg:hover {
    transform: scale(1.2);
}

.navbar-toggler {
    color: white;
}

.logo {
    height: 5rem;
}

h1.title {
    color: white;
    font-size: 90px;
    margin: 0;
}

.information h2 {
    font-size: 3rem;
    color: #eac67a;
    margin-bottom: 1rem;
}

p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.subtitle {
    color: #eac67a;
    font-size: 27px;
    margin: 0 0 1rem 0;
}

.hero-text {
    margin-left: 55px;
    margin-bottom: 222px;
}

.hero-area {
    display: flex;
    height: 100%;
    max-width: 100vw;
    justify-content: space-between;
    align-items: center;
    margin-top: 66px;
}

#button {
    color: white;
    text-decoration: none;
    display: flex;
}

#button-text {
    width: 200px;
    height: 66px;
    border-radius: 40px;
    background-color: #984b43;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

#button-text:hover {
    transform: scale(1.1);
}

#button-text:active {
    background-color: #808080;
}

.socials {
    padding-bottom: 222px;
}

.socials-footer {
    display: flex;
    justify-content:end;
    gap: 2rem;
    margin-left: 17rem;
}

.social {
    margin: 33px;
    display: flex;
}

.sub-section {
    display: flex;
    /* justify-content: space-around; */
    padding: 77px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 77px;
    background-color: #233237;
}

.headshot-container {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 5rem;
}

.headshot {
    width: 333px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
}

.project-card {
    width: 333px;
    height: 533px;
    box-shadow: 2px 2px 8px white;
    margin: 10px;
    border-radius: 3%;
    margin: 10px;
    background-color: white;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-title {
    color: #eac67a;
    font-size: 3rem;

}

.project-container {
    display: flex;
    justify-content: space-around;
}

.project-image {
    width: 300px;
    max-width: 100vw;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-top: 25px;
    box-shadow: 2px 2px 22px;
}

.project-card hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-card-title {
    margin-top: 2rem;
}

.project-link {
    text-decoration: none;
    font-size: 2rem;
    color: #984b43;
    font-weight: bold;
}

.project-link:hover {
    color: #eac67a;
}

.footer h2 {
    font-size: 3rem;
    margin-top: 4rem;
}

.email-link {
    text-decoration: none;
    color: #984b43;
}

.email-link p {
    font-weight: bold;
    font-size: 2rem;
}

.email-link p:hover {
    transform: scale(1.2);
    color: #eac67a;
}

@media only screen and (max-width: 576px) {
    h1.title{
        font-size: 55px;
        margin-top: 44px;
    }
    .hero-text {
        margin-left: 15px;
        margin-bottom: 222px;
    }
    .social-svg {
        width: 44px;
    }
    .email-link p{
        font-size: 1.5rem;
    }
    .footer h2{
        font-size: 3rem;
    }    
}

@media only screen and (max-width: 800px){
    .hero-area {
        flex-direction: column;
        align-items: start;
    }
    .socials { 
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
} 

@media only screen and (max-width: 350px) {
    .email-link p{
        font-size: 1.25rem;
    }
}
