:root {
    --header-bg: #363538;
    --main-bg-color: #8d8c8a;
    --about-bg: #f6f6f6;
    --accent-color: #52d6f4;
    --section-header-color: #408697;
    --socials-color: #eac67a;
    --socials-svg-gradient: linear-gradient(to right, blue, red);
}

* {
    font-family: 'Saira Semi Condensed', sans-serif;
    box-sizing: border-box;
    max-width: 100%;
}


html,
body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.navbar,
.hero-area,
.sub-section,
.sub-section-alternative {
    padding-inline: calc(22px + 12vw);
}

.section {
    height: 500px;
    background-color: white;
    border: solid black 1px;
}

a {
    text-decoration: none !important;
    color: var(--section-header-color) !important;
}

.about-link:hover {
    color: var(--accent-color) !important;
}

.hero {
    background-color: var(--main-bg-color);
    /* background: linear-gradient(var(--main-bg-color) 82%, var(--about-bg)); */
    min-height: 88vh;
    display: flex;
    flex-direction: column;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
}

.hero-text {
    margin-left: 55px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.hero-link-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.headshot-container {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 5rem;
}

.headshot {
    width: 22vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    filter: drop-shadow(0 0 0.75rem var(--socials-color));
}


.footer {
    background-color: black;
    color: white;
    text-align: center;
    width: 100vw;
    padding-bottom: 4rem;
}

.contact-item {
    display: flex;
    justify-content: center;
}

.contact-item svg {
    margin-right: 1rem;
    margin-top: 8px;
}

.contact-item .fa-icon {
    width: 34px;
    height: 34px;
    color: #52d6f4;
}

.navbar {
    background-color: var(--header-bg);
}

.navbar-brand {
    width: fit-content !important;
}

.nav-link {
    color: #ffff !important;
    font-size: 30px;
}

.nav-link:hover {
    transform: scale(1.15);
}

.nav-divider {
    color: var(--section-header-color)
}

.social-svg:hover {
    transform: scale(1.04);
}

.social-svg:active {
    transform: scale(.99);
}

.navbar-toggler {
    color: white;
}

.logo {
    height: 5rem;
}

h1.title {
    color: white;
    font-size: 5rem;
    margin: 0;
    font-weight: bold;
}

.information h2 {
    font-size: 3rem;
    color: var(--section-header-color);
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: 1px 1px var(--header-bg);
}

.information h3 {
    font-size: 2rem;
}

p,
li {
    margin: 0;
    font-size: 1.5rem;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
    margin-inline: 1rem;
    color: black;
}

.subtitle {
    color: var(--header-bg);
    font-size: 3rem;
    margin: 0 0 1rem 0;
}

#button {
    color: white;
    text-decoration: none;
    display: flex;
}

#button-text {
    width: 200px;
    height: 66px;
    border-radius: 40px;
    background-color: var(--accent-color);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border: unset;
}

#button-text:hover {
    transform: scale(1.05);
    background-color: #eac67a;
}

#button-text:active {
    transform: scale(.99)
}

.social {
    margin: 55px;
    display: flex;
}

.social-svg {
    fill: #eac67a;
    width: 5rem;
    max-width: 144px;
}

.social-svg:hover {
    fill: var(--accent-color);
}

.sub-section {
    display: flex;
    padding-block: 55px;
    background-color: var(--about-bg);
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 77px;
    /* background-color: var(--about-bg); */
    background: linear-gradient(var(--about-bg) 18%, var(--main-bg-color) 82%, black);
}

.sub-section-alternative h2,
.technologies-section h2 {
    font-size: 3rem;
    color: var(--section-header-color);
    margin-bottom: 1rem;
    text-align: center;
    text-shadow: 1px 1px var(--header-bg);
}

.project-card {
    width: 333px;
    height: 455px;
    box-shadow: 2px 2px 4px var(--header-bg);
    margin: 10px;
    border-radius: 3%;
    border: 2px solid;
    margin: 10px;
    background-color: var(--about-bg);
}

@media only screen and (max-width: 1000px) {

    .navbar,
    .hero-area,
    .sub-section,
    .sub-section-alternative,
    .technologies-section {
        padding-inline: 4rem;
    }

    .project-container {
        display: flex;
        flex-wrap: wrap;
    }

    .headshot {
        width: 282px;
    }
}

.project-title,
.technologies-title {
    color: var(--section-header-color);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-image {
    width: 300px;
    max-width: 100vw;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: 25px;
    box-shadow: 2px 2px 2px black;
}

.project-card hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-card-title {
    margin-top: 2rem;
}

.project-link {
    text-decoration: none;
    font-size: 2rem;
    color: var(--section-header-color);
    font-weight: bold;
}

.project-link:hover {
    transform: scale(1.03);
    color: grey;
    font-weight: bold;
}

.project-link:active {
    transform: scale(1);
}

.footer h2 {
    font-size: 3rem;
    color: var(--accent-color);
    /* margin-top: 4rem; */
    padding-top: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.email-link {
    text-decoration: none;
    color: var(--section-header-color);
}

.email-link p {
    font-weight: bold;
    font-size: 2rem;
}

.contact-item:hover {
    transform: scale(1.05);
    color: var(--socials-color);
}

.contact-item:active {
    transform: scale(1);
}

.technologies-section {
    /* background-color: var(--main-bg-color); */
    background: linear-gradient(var(--main-bg-color) 75%, var(--about-bg));
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technologies-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;

    height: fit-content;
    min-height: 333px;
    max-width: 1333px;

    box-shadow: 2px 2px 4px var(--header-bg);
    border-radius: 8px;
    border: 2px solid var(--section-header-color);
    background-color: var(--about-bg);
}

.technologies-container svg {
    width: 7rem;

    transition: transform 0.3s ease-in-out;
}

.technologies-container svg:hover {
    transform: rotate(-3deg) scale(1.08);
}

@media only screen and (max-width: 800px) {

    .navbar,
    .hero-area,
    .sub-section,
    .sub-section-alternative,
    .technologies-section {
        padding-inline: 2rem;
    }

    .technologies-container svg {
        width: 5rem;    
    }

    .headshot {
        width: 272px;
    }

    h1.title {
        font-size: 4.5rem;
        margin-top: 44px;
    }

    .hero-area {
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }

    .hero-text{
        gap: 0;
    }

    .social {
        margin: 32px;
        display: flex;
    }

    .socials {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 88px;
    }

    .social-svg {
        width: 72px;
    }
}

@media only screen and (max-width: 576px) {

    .navbar,
    .hero-area,
    .sub-section,
    .sub-section-alternative,
    .technologies-section {
        padding-inline: 1rem;
    }

    h1.title {
        font-size: 4rem;
        margin-top: 44px;
    }

    .hero-text {
        margin-left: 15px;
        /* margin-bottom: 115px; */
    }

    .headshot-container {
        padding-top: 1rem;
    }

    .socials {
        display: flex;
        justify-content: center;
        width: fit-content;
        margin-top: 5rem;
    }

    .social-svg {
        width: 72px;
    }

    .email-link p {
        font-size: 2rem;

    }

    .footer h2 {
        font-size: 3rem;
    }

    .hero {
        height: fit-content;
    }

    .subtitle {
        /* color: var(--socials-color); */
        font-size: 2.5rem;
        margin: 0 0 1rem 0;
        text-align: center;
    }


}

@media only screen and (max-width: 350px) {
    .email-link p {
        font-size: 1.75rem;
    }
}

.resume-container {
    /* display: flex;
    flex-direction: column; */
    text-align: center;
}

.resume-container img {
    margin: 1rem;
    max-width: 100vw;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 0 8px black;
}